.sidebar {
  min-width: var(--sidebar-width);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
}

.sidebar_logo {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.sidebar_logo h2 {
  margin-left: 1rem;
  color: rgb(16, 16, 121);
  font-style: italic;
}

.sidebar_logo > img {
  height: 30px;
}

.sidebar_item {
  padding: 0 20px;
}
.shares {
  padding: 10px 35px;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.sidebar_item-inner {
  display: grid;
  grid-template-columns: 25% 70%;
  padding: 10px 15px;
  justify-content: left;
  align-items: left;
  text-align: left;
  font-weight: 500;
  transition: color 0.3s ease 0s;
}

.sidebar_item-inner > p {
  margin-right: 20px;
  font-size: 1.2rem;
  color: rgb(16, 16, 121);
}

.sidebar_item-inner > span {
  display: flex;
  text-transform: capitalize;
}

.sidebar_item-inner:hover {
  color: var(--main-color);
}

.active .sidebar_item-inner {
  border-radius: var(--border-radius);
  background-image: linear-gradient(
    to right,
    var(--main-color),
    var(--second-color)
  );
  color: rgb(16, 16, 121);
}
